.benefits {
  padding-top: 100px;
  padding-left: 50px;

  &__title {
    margin-bottom: 30px;
    margin-right: 20px;
  }

  &__list {
    display: grid;
    margin-right: 36px;
    grid-template-columns: 5fr 4fr;
    row-gap: 40px;
    column-gap: 20px;
    margin-bottom: 52px;
    list-style: none;
  }

}